.cross__btn {
    position: absolute;
    right: 8px;
    bottom: 3px;
    cursor: pointer;
    &-dates {
        right: 27px;
    }
    & svg {
        & path:hover {
            fill: #0ec261;
        }
    }
}
