@import '../../assets/BasicColorsAndFonts.scss';

.orderpage__step-4 {
    &_container {
        display: flex;
        justify-content: space-between;
        max-width: 736px;

        margin: 0 64px 16px 0;

        @media screen and (max-width: 1023px) {
            flex-direction: column;
            margin: 0 32px 16px 0;
        }
        @media screen and (max-width: 767px) {
            margin: 0 16px 0px 16px;
        }
    }
    &_content {
        font-family: $regular;
        & h1 {
            font-size: 18px;
            margin-bottom: 12px;
        }
    }
    &_license-plate {
        border: 1px solid $gray-dark;
        border-radius: 4px;
        display: flex;
        height: 24px;
        width: 94px;
        margin-bottom: 8px;
        justify-content: center;
        align-items: center;
    }
    &_item {
        margin-bottom: 8px;
        & :first-child {
            font-family: $bold;
            margin-right: 8px;
        }
        & :last-child {
            font-weight: 300;
            color: $gray-dark;
        }
    }
    &_img-car {
        & img {
            height: auto;
            max-width: 250px;
        }
    }
}
.temporary_block {
    position: absolute;
    top: 920px;
    display: flex;
    flex-direction: column;
}
