.orderpage__step-2 {
    &_container {
        margin-right: 64px;

        @media screen and (max-width: 1023px) {
            margin-right: 32px;
        }
        @media screen and (max-width: 767px) {
            margin: 0 58px 0 16px;
        }
    }
    &_filter-models {
        display: flex;
        margin-bottom: 48px;
    }
}
