.orderpage__step-2 {
    &_container {
        margin: 0 64px 16px 0;

        @media screen and (max-width: 1080px) {
            margin: 0 32px 16px 0;
        }
        @media screen and (max-width: 767px) {
            margin: 0 16px 0px 16px;
        }
    }
    &_filter-models {
        display: flex;
        margin-bottom: 48px;
        flex-wrap: wrap;

        @media screen and (max-width: 1024px) {
            margin-bottom: 35px;
        }
    }
}
