@import '../../../assets/BasicColorsAndFonts.scss';

.orderpage__step_search {
    position: relative;
    font-family: $regular;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 13px;
    text-align: right;

    @media screen and (max-width: 767px) {
        text-align: left;
    }
    & label {
        margin-right: 8px;

        @media screen and (max-width: 767px) {
            display: block;
            margin-bottom: 10px;
        }
    }
    & input {
        border-bottom: 1px solid $gray-dark;
        width: 224px;
        padding-left: 10px;

        @media screen and (max-width: 767px) {
            display: block;
            width: 100%;
            margin-bottom: 22px;
        }

        &::placeholder {
            color: $gray-dark;
        }
    }
}
