@import '../../../assets/BasicColorsAndFonts.scss';

.orderpage__step-1_search {
    font-family: $regular;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 13px;
    text-align: right;
    & input {
        border-bottom: 1px solid $gray-dark;
        margin-left: 8px;
        width: 224px;
        padding-left: 10px;
        &::placeholder {
            color: $gray-dark;
        }
    }
}
@media screen and (max-width: 767px) {
    .orderpage__step-1_search {
        text-align: center;
        margin-right: 83px;
        & label {
            display: block;
            margin-bottom: 8px;
        }
        & input {
            display: block;
            width: 100%;
            margin-bottom: 22px;
        }
    }
}
