@import '../../../assets/BasicColorsAndFonts.scss';

.orderpage__step_MyInput {
    position: relative;
    width: 251px;
    font-family: $regular;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 13px;
    text-align: right;
    & label {
        margin-right: 8px;
    }
    & input {
        border-bottom: 1px solid $gray-dark;
        width: 224px;
        padding-left: 10px;
        &::placeholder {
            color: $gray-dark;
        }
    }
}
.cross-input__btn {
    position: absolute;
    right: 8px;
    bottom: 3px;
    cursor: pointer;
    &_dates {
        right: 27px;
    }
    & svg {
        & path:hover {
            fill: #0ec261;
        }
    }
}
