@import '../../../assets/BasicColorsAndFonts.scss';

.orderpage__your-order {
    &_item {
        margin-bottom: 16px;
        font-family: $regular;
        font-size: 14px;
        display: flex;
        justify-content: space-between;
        min-width: 220px;
    }
    &_title {
        display: flex;
        align-items: flex-end;
        max-width: 150px;
    }
    &_dotes {
        flex: 1 1 auto;
        border-bottom: 1px dotted $gray-dark;
        margin: 0 12px;
        min-width: 8px;

        @media screen and (max-width: 1439px) {
            margin: 0 5px;
        }
    }
    &_info {
        line-height: 16px;
        color: $gray-dark;
        max-width: 102px;
        text-align: right;

        @media screen and (max-width: 767px) {
            max-width: 150px;
        }
    }
    &_error {
        line-height: 16px;
        color: red;
        max-width: 102px;
        text-align: right;
        font-family: $bold;
    }
}
