@import '../../assets/BasicColorsAndFonts.scss';

.orderpage__step-1 {
    &_searches {
        width: 325px;
        font-family: $light;
        color: $main-black;

        @media screen and (max-width: 767px) {
            width: 225px;
            margin: 0 16px;
        }
    }
    &_map {
        margin: 45px 64px 0 0;

        @media screen and (max-width: 1023px) {
            margin: 45px 32px 0 0;
        }
        @media screen and (max-width: 767px) {
            margin: 45px 16px 0 16px;
        }
        & h2 {
            margin-bottom: 16px;
        }
        img {
            width: 100%;
        }
    }
}
