@import '../../../assets/BasicColorsAndFonts.scss';

.orderpage__step_checkbox {
    margin-right: 16px;
    font-family: $regular;
}
.checkbox {
    -webkit-apperance: none;
    appearance: none;
    position: absolute;
    &__label {
        color: $gray-dark;
        display: block;
        position: relative;
        cursor: pointer;

        @media screen and (max-width: 370px) {
            padding-top: 15px;
        }
        &::before {
            content: '';
            display: inline-block;
            width: 12px;
            height: 12px;
            border: 1px solid $gray-dark;
            margin-right: 8px;

            @media screen and (max-width: 370px) {
                display: block;
                position: absolute;
                top: 8px;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        &::after {
            content: '';
            display: inline-block;
            width: 13px;
            height: 13px;
            background: url(../../../assets/icons/checkbox-icon.svg) no-repeat;
            left: 2px;
            position: absolute;
            opacity: 0;
        }
    }
    &:checked + .checkbox__label {
        color: $main-black;
    }
    &:checked + .checkbox__label:before {
        border: 1px solid $main-accent;
    }
    &:checked + .checkbox__label:after {
        opacity: 1;
    }
}
