@import '../../assets/BasicColorsAndFonts.scss';

.orderpage {
    &__your-order {
        border-left: 1px solid #eee;
        width: 320px;
        &_section {
            margin: 32px 0 0 32px;
            display: flex;
            flex-direction: column;
            color: $main-black;
        }
        & h2 {
            letter-spacing: 0.2px;
            align-self: end;
            margin-bottom: 26px;
            font-family: $medium;
            font-size: 18px;
        }
        &_point {
            margin-bottom: 32px;
            font-family: $regular;
            font-size: 14px;
            display: flex;
            justify-content: space-between;
            & :nth-child(1) {
                align-self: flex-end;
                width: 91px;
            }
            & :nth-child(2) {
                flex: 1 1 auto;
                border-bottom: 1px dotted $gray-dark;
                margin: 0 12px;
                min-width: 8px;
            }
            & :nth-child(3) {
                text-align: right;
                line-height: 16px;
                color: $gray-dark;
                width: 102px;
            }
        }
        &_price {
            font-size: 16px;
            margin-bottom: 32px;
            & span {
                font-family: $bold;
            }
        }
        &_btn {
            height: 48px;
            border-radius: 8px;
            background-color: #eee;
            color: rgb(255, 255, 255);
            font-size: 18px;
            font-family: $medium;
        }
    }
}
@media screen and (max-width: 1439px) {
    .orderpage {
        &__your-order {
            &_point {
                & :nth-child(2) {
                    border-bottom: 1px dotted $gray-dark;
                    margin: 0 5px;
                    min-width: 8px;
                }
            }
        }
    }
}
@media screen and (max-width: 1023px) {
    .orderpage {
        &__your-order {
            &_btn {
                font-size: 16px;
                height: 42px;
            }
        }
    }
}
@media screen and (max-width: 767px) {
    .orderpage {
        &__your-order {
            position: absolute;
            right: 0;
            top: 1px;
            background: white;
            height: 100%;
            transform: translateX(87%);
            transition: 0.4s;
            &_active {
                transform: translateX(0);
                border-left: 2px solid $main-accent;
                border-top: 1px solid $main-accent;
            }
            &_section {
                margin: 32px 16px 0 16px;
            }
        }
    }
}
