@import '../../assets/BasicColorsAndFonts.scss';

.orderpage {
    &__your-order {
        border-left: 1px solid #eee;
        width: 320px;

        @media screen and (max-width: 767px) {
            width: 100%;
            border-top: 1px solid #eee;
        }
        @media screen and (max-width: 1250px) {
            width: auto;
        }
        &_vertical-line {
            position: relative;
            &-empty-1 {
                position: absolute;
                top: 0;
                left: 0;
            }
            &-empty-2 {
                position: fixed;
                transform: translateX(-100%);
                background: #eeeeee;
                height: 200vh;
                width: 1px;
            }
        }
        &_active {
            @media screen and (max-width: 767px) {
                transform: translateX(0);
                border-left: 2px solid $main-accent;
                border-top: 1px solid $main-accent;
            }
        }
        &_section {
            margin: 32px 0 0 32px;
            display: flex;
            flex-direction: column;
            color: $main-black;

            @media screen and (max-width: 767px) {
                margin: 32px 16px 0 16px;
            }
        }
        & h2 {
            letter-spacing: 0.2px;
            align-self: end;
            margin-bottom: 26px;
            font-family: $medium;
            font-size: 18px;

            @media screen and (max-width: 767px) {
                align-self: auto;
            }
        }
        &_price {
            font-size: 16px;
            margin: 32px 0;
            & span {
                font-family: $bold;
            }
        }
        &_btn {
            height: 48px;
            border-radius: 8px;
            background-color: #eee;
            color: rgb(255, 255, 255);
            font-size: 18px;
            font-family: $medium;

            @media screen and (max-width: 1439px) {
                font-size: 16px;
                height: 42px;
                margin-bottom: 16px;
            }
        }
    }
}
