@import '../../../../assets/BasicColorsAndFonts.scss';

.orderpage__step_radiobutton {
    margin-right: 16px;
    font-family: $regular;
}
.radiobutton {
    -webkit-apperance: none;
    appearance: none;
    position: absolute;

    @media screen and (max-width: 370px) {
        margin-right: 7px;
    }
    &__label {
        color: $gray-dark;
        display: block;
        position: relative;
        cursor: pointer;
        &::before {
            content: '';
            display: inline-block;
            width: 12px;
            height: 12px;
            border: 1px solid $gray-dark;
            border-radius: 50%;
            margin-right: 8px;

            @media screen and (max-width: 370px) {
                margin-right: 4px;
            }
        }
    }
    &:checked + .radiobutton__label {
        color: $main-black;
    }
    &:checked + .radiobutton__label:before {
        border: 3px solid $main-accent;
    }
}
