$main-accent: #0ec261;
$main-black: #121212;
$gray-dark: #999999;
$gray-light: #eeeeee;

$navbar-color: #151b1f;
$burger-color: #111518;

$button-default: linear-gradient(90deg, #0ec261 2.61%, #039f67 112.6%);
$button-hover: linear-gradient(90deg, #0b934a 2.61%, #026e47 112.6%);
$button-active: linear-gradient(90deg, #076432 2.61%, #013c27 112.6%);
$button-selected: linear-gradient(90deg, #0b934a 2.61%, #026e47 112.6%);

$bold: 'Roboto-Bold';
$medium: 'Roboto-Medium';
$light: 'Roboto-Light';
